
.header{
    font-size: var(--font-size-xlarge);
    font-weight: 600;
    line-height: normal;
}

.container{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-size-normal);
}

.tagContainer{
    padding: var(--spacing-size-normal);

    & :global .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
        color: var(--color-white);
        font-size: var(--font-size-xnormal);
        font-weight: 600;
    }

    & :global .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
        color: var(--color-white);
        font-size: var(--font-size-xnormal);
        font-weight: 600;
    }

    & :global .css-1aquho2-MuiTabs-indicator{
        background-color: var( --color-primary);
    }

    & :global .css-13xfq8m-MuiTabPanel-root{
        padding: var(--spacing-size-normal) 0;
    }
}

.scrollContainer{
    & :global .swiper{
        width: 100%;
        height: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }

    & :global .swiper-button-next:after{
        font-size: var(--font-size-xlarge);
        font-weight: 600;
        color: var(--color-white);
        background-color: var(--color-primary);
        padding: var(--spacing-size-xxsmall) var(--spacing-size-small);
        border-radius: var(--font-size-xlarge);
    }

    & :global .swiper-button-prev:after{
        font-size: var(--font-size-xlarge);
        font-weight: 600;
        color: var(--color-white);
        background-color: var(--color-primary);
        padding: var(--spacing-size-xxsmall) var(--spacing-size-small);
        border-radius: var(--font-size-xlarge);
    }

    & :global .swiper-button-next{
        top: 45%;
    }

    & :global .swiper-button-prev{
        top: 45%;
    }
}