* {
  margin: 0;
}

.App {
  background-color: var(--color-black);
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
  line-height: 1.5;
  box-sizing: border-box;
  height: 100vh;
  /* padding: var(--spacing-size-xsmall) var(--spacing-size-xlarge); */
}
