:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #fff;
  --font-size-tiny: 4px;
  --font-size-xxsmall: 8px;
  --font-size-xsmall: 10px;
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-xlarge: 20px;
  --font-size-xxlarge: 22px;
  --font-size-huge: 24px;
  --font-size-xhuge: 26px;
  --font-size-xxhuge: 28px;
  --font-size-mamoth: 30px;
  --font-size-xmamoth: 32px;

  --spacing-size-tiny: 4px;
  --spacing-size-xxsmall: 8px;
  --spacing-size-xsmall: 10px;
  --spacing-size-small: 12px;
  --spacing-size-normal: 16px;
  --spacing-size-large: 18px;
  --spacing-size-xlarge: 20px;
  --spacing-size-xxlarge: 22px;
  --spacing-size-huge: 24px;
  --spacing-size-xhuge: 26px;
  --spacing-size-xxhuge: 28px;
  --spacing-size-mamoth: 30px;

  --width-icon: 25px;
  --width-search-input: 450px;
  --height-icon: 16px;
}

